.accordion__section {
  max-width: 780px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin-top: 50px;
}

/*
.group_title__wrapper {
  display: flex;
  color: rgb(59, 59, 59);
  justify-content: space-between;
  align-items: center;
  outline: 3px solid transparent;
  cursor: pointer;
}

.group_title__wrapper.active {
  color: #1f5ed4;
  transition: all ease-in-out 0.3s;
}

.arrow.active {
  color: #1f5ed4;
}
*/

.text {
  max-height: 0;
  overflow: hidden;
  transition: all linear 0.3s;
  text-align: left;
  line-height: 22px;
}

.text__wrapper:last-child {
  border-bottom: 1px solid transparent;
}
.text.show {
  max-height: 100%;
  transition: all linear 0.3s;
}

.arrow {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}